# https://github.com/github/gitignore

Firefox/Data/profile/
tobedeleted/
__pycache__/
.git/
.idea/
.vscode/
.history/
.DS_Store/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Thumbs.db
*.code-workspace

LEd
TeXnicCenter
texstudio

chrome.dll
interactive_ui_tests.exe
cv2.cp38-win_amd64.pyd
xul.dll
webappsstore.sqlite
libcef.dll

decompose.bat
fSplit.exe
