# https://github.com/github/gitignore

# Firefox/Data/profile/
tobedeleted/
__pycache__/
.git/
.idea/
.vscode/
.history/
.DS_Store/

!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

Thumbs.db
*.code-workspace

# Not commited
LEd
TeXnicCenter
texstudio

# Too large files
#node.exe
chrome.dll
interactive_ui_tests.exe
#electron.exe
#cv2.cp38-win_amd64.pyd
#Sourcetrail.exe
#sourcetrail_indexer.exe
#Qt5WebEngineCore.dll
#ffmeg.exe
xul.dll
#ls-archive.sqlite
#webappsstore.sqlite
#TeamViewer.exe
libcef.dll

# Local files
decompose.bat
fSplit.exe

# Notepad++ session files
config.xml
session.xml
