body {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	color: #333;
	background-color: #9ea3ad;
}
input[type=text],select,button {
	outline:none;
}
.groupbox {
	border: 1px #dbd9d5 solid;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 0;
	box-shadow: 0 0 10px #dbd9d5;
}
.groupbox[caption] {
	margin-top: 1.5em;
}
.groupbox .caption {
	position: relative;
	margin-top: -1em;
	margin-bottom: 8px;
	margin-left: -5px;
}
.groupbox .caption span {
	font-style: italic;
	font-size: 14px;
	background-color: #dbd9d5;
	border: 1px solid #c4c0b9;
	border-radius: 3px;
	padding: 0 5px;
}
#current_locale {
	border: 1px #968f81 solid;
	border-radius: 4px;
	background-color: #dbd9d5;
	height: 20px;
	width: 150px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	color: #333;
}
#image_name_template {
	font-family: monospace;
	font-size: 12px;
	color: #333;
}
#image_name_template input[type="text"] {
	border: 1px transparent solid;
	border-radius: 3px;
	background-color: #f1f0ee;
	color: #333;
	cursor: pointer;
}
#image_name_template input[type="text"]:hover {
	background-color: #dbd9d5;
}
.image_name_template_hint {
	color: #777;
	font-family: monospace;
	font-size: 12px;
}
#hotkeys_box {
	margin-bottom: 4px;
}
#settings_label {
	font-size: 20px;
	color: #f1f0ee;
	text-shadow: 1px 1px 2px #222, 0 0 12px black;
	margin-bottom: 10px;
}
#settings_saved {
	color: #333;
	background-color: #dbd9d5;
	border-radius: 5px;
	box-shadow: 0 5px 10px #474747;
	padding: 4px;
	margin-bottom: 10px;
	float: right;
}
#settings_saved[is_hidden="true"] {display: none;}
#reset_settings {margin-top: 8px; float: right;}
#close_settings {margin-top: 8px;}

#prefs_button_plus {
	padding: 2px;
	margin: -1px 5px 0 0;
	width: 14px;
	height: 14px;
	background: url("/skin/plus.png") center no-repeat;
	filter: contrast(0);
	-webkit-filter: contrast(0);
	background-size: contain;
	float: left;
	cursor: pointer;
}
#prefs_button_plus:hover {filter: none; -webkit-filter: none;}
#prefs_button_plus:active {filter: contrast(0); -webkit-filter: contrast(0);}

#prefs_button_minus {
	padding: 2px;
	margin: 2px 5px 2px 2px;
	width: 12px;
	height: 12px;
	background: url("/skin/minus.png") center no-repeat;
	filter: contrast(0);
	-webkit-filter: contrast(0);
	background-size: contain;
	float: left;
	cursor: pointer;
}
#prefs_button_minus:hover {filter: none; -webkit-filter: none;}
#prefs_button_minus:active {filter: contrast(0); -webkit-filter: contrast(0);}

a {color: #333;
	text-decoration: none;
	cursor: pointer;
}
a:hover {color: #990000;}
i, td {cursor: default;}
label {cursor: pointer;}

#hotkeys_list td {
	white-space: nowrap;
}
#hotkeys_list input[type="checkbox"] {
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	right: 0;
}

input[type="text"] {
	background-color: #fefefe;
	width: 150px;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	color: #7d7464;
	padding-left: 7px;
	border: 1px #c4c0b9 solid;
	border-radius: 3px;
}
input[type="checkbox"], input[type="radio"] {
	position: relative;
	top: 2px;
	right: 7px;
	cursor: pointer;
}
input[type="checkbox"] {margin-left: 5px;}

input[type="range"] {
	position: relative;
	top: 7px;
	cursor: pointer;
}
button, select, input[type="button"] {
	font-family: 'Segoe UI', Tahoma, sans-serif;
	font-size: 13px;
	color: #333;
	border: 1px #c4c0b9 solid;
	border-radius: 3px;
	background-color: #dbd9d5;
	cursor: pointer;
}
button {
	padding: 1px 5px;
	background-color: #dbd9d5;
	border: 1px #968f81 solid;
	border-radius: 4px;
}
button:hover {background-color: #e7e5e3;}
input[type="button"]:hover {background-color: #e7e5e3; border-color: #dbd9d5;}
input[type="button"]:active {background-color: #dbd9d5; border-color: #c4c0b9;}
select:disabled {color: #888888;}
*[disabled="true"] {
	color: #888888;
}
input[disabled="true"]~span {
	color: #888888;
}
