body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 10px;
	color: #333;
	background-color: #f1f0ee;
}
.s3sg_menu_header {
	font-weight: bold;
}
.s3sg_menu_action {
	padding-left: 10px;
	padding-right: 5px;
}
.s3sg_menu_action:not([is_inactive="true"]) {
	border: 1px transparent solid;
	border-radius: 3px;
	cursor: pointer;
}
.s3sg_menu_action:not([is_inactive="true"]):hover {
	background-color: #dbd9d5;
	
}
.s3sg_menu_action[is_inactive="true"] {
	font-style: italic;
	color: #999999;
	cursor: default;
}
*[is_hidden="true"] {
	display: none;
}
