:root {
    --red-heart: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmMjY3NGU7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT48L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2MS41NiwzMzMuMzJBNDIuNjksNDIuNjksMCwwLDAsNDM0Ljc4LDMyNGMtMjIuNzUsMC0zMywxNy0zNC4yMSwxOC42MS05LjYtMTIuNDYtMjUuNTctMjAuODEtNDEuNDYtMTgtMTMuMTUsMi4zMy0yMy40Niw5LjM5LTMwLjcxLDIxLTEwLjE5LDE2LjM0LTExLDMyLjA5LTIuNDYsNDYuODRBMTIyLjYxLDEyMi42MSwwLDAsMCwzNDQuMDksNDE2YzE0LDE0LjUyLDMwLjUyLDI4LjMxLDUyLjExLDQzLjM5LDEuMzgsMSw0LjM2LDIuODYsNC4zNiwyLjg2czQtMi42MSw0Ljc2LTMuMTljMTkuMTgtMTMuMzcsMzQuOS0yNi4yNSw0OC4wOC0zOS4zNyw3LjQ2LTcuNDIsMTUuOTMtMTYuNTUsMjIuMTItMjcuOTQsMi42NS00Ljg4LDUuNjctMTEuNDIsNS40OS0xOC45MkM0ODAuNjEsMzU2LjY5LDQ3NC4wNiwzNDMuNDEsNDYxLjU2LDMzMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMjAuMSAtMzI0LjAzKSIvPjwvc3ZnPg==);
    --gold-heart: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmQ3MDA7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT48L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2MS41NiwzMzMuMzJBNDIuNjksNDIuNjksMCwwLDAsNDM0Ljc4LDMyNGMtMjIuNzUsMC0zMywxNy0zNC4yMSwxOC42MS05LjYtMTIuNDYtMjUuNTctMjAuODEtNDEuNDYtMTgtMTMuMTUsMi4zMy0yMy40Niw5LjM5LTMwLjcxLDIxLTEwLjE5LDE2LjM0LTExLDMyLjA5LTIuNDYsNDYuODRBMTIyLjYxLDEyMi42MSwwLDAsMCwzNDQuMDksNDE2YzE0LDE0LjUyLDMwLjUyLDI4LjMxLDUyLjExLDQzLjM5LDEuMzgsMSw0LjM2LDIuODYsNC4zNiwyLjg2czQtMi42MSw0Ljc2LTMuMTljMTkuMTgtMTMuMzcsMzQuOS0yNi4yNSw0OC4wOC0zOS4zNyw3LjQ2LTcuNDIsMTUuOTMtMTYuNTUsMjIuMTItMjcuOTQsMi42NS00Ljg4LDUuNjctMTEuNDIsNS40OS0xOC45MkM0ODAuNjEsMzU2LjY5LDQ3NC4wNiwzNDMuNDEsNDYxLjU2LDMzMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMjAuMSAtMzI0LjAzKSIvPjwvc3ZnPg==);
    --red-heart-outlined: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGcgdHJhbnNmb3JtPSJzY2FsZSgwLjksIDAuOSkgdHJhbnNsYXRlKDksIDYpIj48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSIjZjI2NzRlIiBzdHJva2Utd2lkdGg9IjEyIiBkPSJNNDYxLjU2LDMzMy4zMkE0Mi42OSw0Mi42OSwwLDAsMCw0MzQuNzgsMzI0Yy0yMi43NSwwLTMzLDE3LTM0LjIxLDE4LjYxLTkuNi0xMi40Ni0yNS41Ny0yMC44MS00MS40Ni0xOC0xMy4xNSwyLjMzLTIzLjQ2LDkuMzktMzAuNzEsMjEtMTAuMTksMTYuMzQtMTEsMzIuMDktMi40Niw0Ni44NEExMjIuNjEsMTIyLjYxLDAsMCwwLDM0NC4wOSw0MTZjMTQsMTQuNTIsMzAuNTIsMjguMzEsNTIuMTEsNDMuMzksMS4zOCwxLDQuMzYsMi44Niw0LjM2LDIuODZzNC0yLjYxLDQuNzYtMy4xOWMxOS4xOC0xMy4zNywzNC45LTI2LjI1LDQ4LjA4LTM5LjM3LDcuNDYtNy40MiwxNS45My0xNi41NSwyMi4xMi0yNy45NCwyLjY1LTQuODgsNS42Ny0xMS40Miw1LjQ5LTE4LjkyQzQ4MC42MSwzNTYuNjksNDc0LjA2LDM0My40MSw0NjEuNTYsMzMzLjMyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMyMC4xIC0zMjQuMDMpIi8+PC9nPjwvc3ZnPg==);
    
    --text-supporter-link: #D84315;
    --error-color: #BF360C;
    --success-color: #2E7D32;
}

#supporter_list_items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.purchase_item {
    padding: 0 1em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    margin: 0.5em 0.5em 0 0.5em;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.purchase_item.promoter {
    background-color: #E8F5E9;
}

.purchase_item.patron {
    background-color: #fafad2;
    /*lightgoldenrodyellow;*/
}

.purchase_item_title {
    text-align: center;
    font-weight: 600;
}

.purchase_item_price {
    text-align: center;
    display: block;
    color: #333;
    margin-bottom: 1em;
    font-size: 11px;
}

.purchase_item_description {
    text-align: center;
    margin-bottom: 1.5em;
}

.purchase_item_purchase {
    text-align: center;
    margin-top: auto;
    margin-bottom: 0.5em;
}

.purchase_item:first-of-type {
    margin-left: 0;
}

.purchase_item:last-of-type {
    margin-right: 0;
}

.buyButton {
    background: var(--text-supporter-link);
    color: #ffffff;
}

.buyButton.disabled *,
.buyButton.disabled {
    background-color: #d8d8d8;
    color: #888;
    cursor: not-allowed;
}

.buyButton:hover {
    animation-name: hvr-back-pulse;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: white;
}

#purchasables_description {
    line-height: 1.5;
}

#gracePeriod {
    background: transparent;
    border-radius: 0.25em;
    border: 1px solid #1B5E20;
    color: darkgreen;
    display: none;
    font-weight: 500;
    line-height: 1.5em;
    padding: 1em;
    text-align: center;
}

.purchase_status {
    height: 2em;
    margin-bottom: 1em;
    flex-grow: 2;
    text-align: center;
    background-size: 20px;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.purchase_status.pre_purchase {
    background-size: 20px;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.supporter_updated .pre_purchase {
    background-image: var(--red-heart);
}

/* .promoter_updated .pre_purchase {
    background-image: url(../img/license/mistletoe.png), url(../img/license/mistletoe_horz_invert.png);
    background-position: left 6em bottom, right 6em bottom;
}

.patron_updated .pre_purchase {
    background-image: url(../img/license/mistletoe.png), var(--red-heart), url(../img/license/mistletoe_horz_invert.png);
    background-position: left 5em bottom, center bottom, right 5em bottom;
} */

.promoter_updated .pre_purchase {
    background-image: url(../img/license/gift_box.svg);
    background-size: 24px;
    /* background-position: left 6em bottom, right 6em bottom; */
}

.patron_updated .pre_purchase {
    background-image: var(--red-heart), url(../img/license/gift_box.svg), var(--red-heart);
    background-position: left 4.5em bottom, center bottom, right 4.5em bottom;
    background-size: 20px, 24px, 20px;
}

.purchase_status.purchase_in_progress {
    background-image: url(../img/license/loading.svg);
}

.purchase_status.purchase_cancelled {
    color: var(--text-supporter-link);
    text-align: center;
}

.purchase_status.purchase_successful {
    color: #2E7D32;
    text-align: center;
}

.purchase_status.purchase_verifying {
    color: darkorange;
    text-align: center;
}

div#reward_code_input {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0.5em;
    justify-items: baseline;
}

span#reward_code_input_status.error {
    color: var(--error-color);
}

span#reward_code_input_status.success {
    color: var(--success-color);
}

input#reward_code.error {
    outline: var(--error-color) auto 1px;
}

.membershipType {
    font-weight: bold;
    color: #222222;
}

#footnote {
    font-size: smaller;
    color: #444;
}

.noteLink {
    text-decoration: none;
}

#support_cf_heart {
    display: inline-block;
    width: 26px;
    height: 15px;
    background: var(--red-heart) center center no-repeat;
}

.xmas_note {
    background-image: url('../img/license/mistletoe.png');
    background-position: right 10px bottom;
    background-repeat: no-repeat;
    background-size: 32px;
}

.xmas_note.a {
    background-image: url('../img/license/mistletoe_horz_invert.png');
    background-position: right 2px top 2px;
}

.donate_note {
    background-image: url(../img/license/donate_box.svg);
    background-position: right 5px bottom 5px;
    background-repeat: no-repeat;
    background-size: 28px;
}

.donate_note.a {
    background-image: url(../img/license/donate_box.svg);
    background-position: right 2px top 2px;
}

.gift_note {
    background-image: url(../img/license/gift_box.svg);
    background-position: right 5px bottom 5px;
    background-repeat: no-repeat;
    background-size: 24px;
}

.gift_note.a {
    background-image: url(../img/license/gift_box.svg);
    background-position: right 2px top 2px;
}

#stripePortalError {
    color: #c62828;
    display: none;
}

div#find_sub {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 0.5em;
    justify-items: baseline;
}

.checkout-button {
    /* background-color: #6772E5; */
    background-color: #d3d6f8;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #212121;
    box-shadow: none;
    text-shadow: none;
    padding: 8px 12px;
    border: 0;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.checkout-button:active,
.checkout-button:hover {
    background-color: #6772E5;
    color: #fafafa !important;
}

.checkout-button:disabled {
    color: #424242 !important;
    cursor: not-allowed;
}

#find_sub_input_status {
    color: #424242;
    line-height: 1.5em;
}

p#powered-by-stripe {
    margin: 0;
    text-align: right;
    font-size: smaller;
    color: #616161;
}

img#stripe-logo {
    display: inline;
    height: 1.8em;
    vertical-align: middle;
    position: relative;
    top: -1 px;
}    

@keyframes hvr-back-pulse {
    50% {
        background-color: #8b2b0e;
    }
}
