:root {
    --red-heart: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmMjY3NGU7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT48L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2MS41NiwzMzMuMzJBNDIuNjksNDIuNjksMCwwLDAsNDM0Ljc4LDMyNGMtMjIuNzUsMC0zMywxNy0zNC4yMSwxOC42MS05LjYtMTIuNDYtMjUuNTctMjAuODEtNDEuNDYtMTgtMTMuMTUsMi4zMy0yMy40Niw5LjM5LTMwLjcxLDIxLTEwLjE5LDE2LjM0LTExLDMyLjA5LTIuNDYsNDYuODRBMTIyLjYxLDEyMi42MSwwLDAsMCwzNDQuMDksNDE2YzE0LDE0LjUyLDMwLjUyLDI4LjMxLDUyLjExLDQzLjM5LDEuMzgsMSw0LjM2LDIuODYsNC4zNiwyLjg2czQtMi42MSw0Ljc2LTMuMTljMTkuMTgtMTMuMzcsMzQuOS0yNi4yNSw0OC4wOC0zOS4zNyw3LjQ2LTcuNDIsMTUuOTMtMTYuNTUsMjIuMTItMjcuOTQsMi42NS00Ljg4LDUuNjctMTEuNDIsNS40OS0xOC45MkM0ODAuNjEsMzU2LjY5LDQ3NC4wNiwzNDMuNDEsNDYxLjU2LDMzMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMjAuMSAtMzI0LjAzKSIvPjwvc3ZnPg==);
    --gold-heart: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmQ3MDA7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT48L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2MS41NiwzMzMuMzJBNDIuNjksNDIuNjksMCwwLDAsNDM0Ljc4LDMyNGMtMjIuNzUsMC0zMywxNy0zNC4yMSwxOC42MS05LjYtMTIuNDYtMjUuNTctMjAuODEtNDEuNDYtMTgtMTMuMTUsMi4zMy0yMy40Niw5LjM5LTMwLjcxLDIxLTEwLjE5LDE2LjM0LTExLDMyLjA5LTIuNDYsNDYuODRBMTIyLjYxLDEyMi42MSwwLDAsMCwzNDQuMDksNDE2YzE0LDE0LjUyLDMwLjUyLDI4LjMxLDUyLjExLDQzLjM5LDEuMzgsMSw0LjM2LDIuODYsNC4zNiwyLjg2czQtMi42MSw0Ljc2LTMuMTljMTkuMTgtMTMuMzcsMzQuOS0yNi4yNSw0OC4wOC0zOS4zNyw3LjQ2LTcuNDIsMTUuOTMtMTYuNTUsMjIuMTItMjcuOTQsMi42NS00Ljg4LDUuNjctMTEuNDIsNS40OS0xOC45MkM0ODAuNjEsMzU2LjY5LDQ3NC4wNiwzNDMuNDEsNDYxLjU2LDMzMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMjAuMSAtMzI0LjAzKSIvPjwvc3ZnPg==);
}


div#cf_notif_div_izj1nl07zu {
    all: initial;
    * {
        all: unset;
    }
}

div#cf_notif_div_izj1nl07zu * {
    all: unset;
}

div#cf_notif_div_izj1nl07zu {
    position: fixed;
    right: 0;
    margin: 7px;
    z-index: 2147483647;
    user-select: none;
    width: 300px;
    box-sizing: content-box;
}

div#cf_notif_div_izj1nl07zu * {
    font-family: system-ui, 'Roboto', sans-serif;
    line-height: 1.21em;
    box-sizing: content-box;
}

div#cf_notif_div_izj1nl07zu a {
    cursor: pointer;
}

div#cf_notif_div_izj1nl07zu.cf_div_position_south {
    bottom: 0;
    top: unset;
}

div#cf_notif_div_izj1nl07zu.cf_div_position_north {
    top: 0;
    bottom: unset;
}


div#cf_notif_div_izj1nl07zu div#all_notification_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#cf_notif_div_izj1nl07zu div#all_notification_actions * {
    line-height: 0; /* Makes sure the <a> elements are sized to icon size, and not minimum line-height */
}

div#cf_notif_div_izj1nl07zu a.all_notification_action_button img {
    width: 16px;
    height: 16px;
    padding: 4px;
    filter: invert(0.25);
}

div#cf_notif_div_izj1nl07zu a#clear_all img {
    width: 20px;
    height: 20px;
    padding: 2px;
}

div#cf_notif_div_izj1nl07zu.dark_body a.all_notification_action_button img {
    filter: invert(0.75);
}

div#cf_notif_div_izj1nl07zu.light_body a.all_notification_action_button:hover img {
    filter: invert(0) drop-shadow(0px 1px 1px #888);
}

div#cf_notif_div_izj1nl07zu.dark_body a.all_notification_action_button:hover img {
    filter: invert(1) drop-shadow(0px 1px 1px #888);
}


div#cf_notif_div_izj1nl07zu div.cf_notification {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    font-size: 12px;
}

div#cf_notif_div_izj1nl07zu div.cf_notification>* {
    border: 1px solid transparent; /* For Testing only*/
}

div#cf_notif_div_izj1nl07zu.cf_div_position_south div.cf_notification {
    animation: animateElementUp linear .3s;
    animation-iteration-count: 1;
}

div#cf_notif_div_izj1nl07zu.cf_div_position_south div.cf_notification:not(:last-of-type) {
    margin-bottom: 1em;
}

div#cf_notif_div_izj1nl07zu.cf_div_position_north div.cf_notification {
    animation: animateElementDown linear .3s;
    animation-iteration-count: 1;
}

div#cf_notif_div_izj1nl07zu.cf_div_position_north div.cf_notification:not(:first-of-type) {
    margin-top: 1em;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_dark div.cf_notification {
    border: 1px solid #424242;
    background: #616161f2;
    color: #F5F5F5;
    box-shadow: 0px 1px 1px 0px #222;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_light div.cf_notification {
    border: 1px solid #CCC;
    background: #e0e0e0f2;
    color: #424242;
    box-shadow: 0px 1px 1px 0px #888;
}

div#cf_notif_div_izj1nl07zu div.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

div#cf_notif_div_izj1nl07zu div.icon {
    flex: 0 0 32px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
}

div#cf_notif_div_izj1nl07zu div.icon img {
    margin: 0 14px;
    width: 42px;
    max-width: inherit;
    vertical-align: inherit;
    border: 0;
}

div#cf_notif_div_izj1nl07zu div.text {
    flex: 1 1 auto;
    padding: 0 0.25em;
    max-width: calc(100% - 70px - 14px);
    margin: 14px 14px 8px 0;
    padding: 0;
}

div#cf_notif_div_izj1nl07zu div.title {
    display: block;
    font-size: 16px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 8px;
}

div#cf_notif_div_izj1nl07zu div.message {
    display: block;
    margin-top: 0.25em;
    margin-bottom: 12px;
    line-height: 1.42em;
    word-break: break-word;
}

div#cf_notif_div_izj1nl07zu div.message.allow_list_message {
    word-break: break-all;
}

div#cf_notif_div_izj1nl07zu div.context_message {
    display: block;
    font-size: 10px;
    opacity: 0.80;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
}

div#cf_notif_div_izj1nl07zu div.actions {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    padding: 0;
    justify-content: space-around;
    margin:  0;
    border: 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

div#cf_notif_div_izj1nl07zu div.action_button {
    flex-grow: 1;
    flex-basis: 30%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 7px 0.5em;
    white-space: nowrap;
    cursor: pointer;
    border-top: 1px solid;
}

div#cf_notif_div_izj1nl07zu div.action_button.disabled {
    filter: opacity(0.75) !important;
    color: #888 !important;
    cursor: auto !important;
}

div#cf_notif_div_izj1nl07zu div.action_button.gift_note {
    background-image: var(--red-heart), var(--red-heart);
    background-position: left 75px center, right 75px center;
    background-repeat: no-repeat;
    background-size: 14px;
}

div#cf_notif_div_izj1nl07zu div.action_button.gift_note .action_icon {
    visibility: hidden;
}

div#cf_notif_div_izj1nl07zu div.action_button.gift_note.only_action {
    background-image: var(--red-heart);
    background-position: left 16px center;
    background-repeat: no-repeat;
    background-size: 14px;
}


div#cf_notif_div_izj1nl07zu div.action_button.only_action {
    display:flex;
    flex-direction:row ;
    text-align: left;
    padding-left: 16px;
}

div#cf_notif_div_izj1nl07zu div.action_button img.action_icon {
    display: none;
    flex: 0 0 0;
    height: 14px;
    padding-right: 0.5em;
    filter: invert(0.5) ;
}


div#cf_notif_div_izj1nl07zu div.action_button.only_action img.action_icon {
    display: unset;
}


div#cf_notif_div_izj1nl07zu.cf_div_theme_dark div.action_button img.action_icon {
    filter: invert(0.8);
}


div#cf_notif_div_izj1nl07zu div.action_button:not(:last-child) {
    border-right: 1px solid;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_dark div.action_button {
    border-color: #888;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_light div.action_button {
    border-color: #ccc;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_light div.action_button:not(.disabled):hover {
    background-color: #c8c8c8f2;
    color: #212121;
    border-top-color: #aaa;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_dark div.action_button:not(.disabled):hover {
    background-color: #424242f2;
    color: #FAFAFA;
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_light div.action_button:not(.disabled):hover img.action_icon {
    filter: invert(0.2);    
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_dark div.action_button:not(.disabled):hover img.action_icon {
    filter: invert(1);
}

div#cf_notif_div_izj1nl07zu span.closePositioner {
    position: relative;
    height: 0;
    border: 0;
}

div#cf_notif_div_izj1nl07zu a.closeButton {
    position: absolute;
    display: inline-block;
    border: 0;
    border-color: transparent;
    top: 0;
    right: 0;
    width: 24px;
    text-decoration: none;
}

div#cf_notif_div_izj1nl07zu a.closeButton img {
    width: 16px;
    height: 16px;
    padding: 4px;
    filter: invert(0.6);
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_dark a.closeButton img {
    filter: invert(0.8);
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_dark a.closeButton:hover img {
    filter: invert(1) drop-shadow(0px 1px 1px #aaa);
}

div#cf_notif_div_izj1nl07zu.cf_div_theme_light a.closeButton:hover img {
    filter: invert(0.3) drop-shadow(0px 1px 1px #444);
}


div#cf_notif_div_izj1nl07zu .hidden {
    display: none;
}

/* Experimental */

@keyframes animateElementUp {
    0% {
        opacity: 0;
        transform: translate(0px, 100%);
    }
    
    100% {
        opacity: 1;
        transform: translate(0px, 0%);
    }
}

@keyframes animateElementDown {
    0% {
        opacity: 0;
        transform: translate(0px, 0%);
    }
    
    100% {
        opacity: 1;
        transform: translate(0px, 100%);
    }
}
