:root {
    --supporters-colour: #D84315;
    --link-colour: #0366d6;
}

.dark {
    --supporters-colour: #dc917a;
    --link-colour: #8cbcf2;
}

body {
    font-family: system-ui, Ubuntu, 'Noto Sans UI', 'Lucida Grande', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, Verdana, Geneva, 'Open Sans', sans-serif !important;
}

div#mask {
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

#sidebar_nav a#nav_support {
    color: #D84315;
    text-shadow: 0px 0px 1px #FBE9E7;
    padding-right: 18px;
    background: var(--red-heart) center right no-repeat;
    background-size: 14px;
}

#sidebar_nav a[href='#support'].xmas {
    background: url(../img/license/mistletoe.png) center right no-repeat;
    background-size: 18px;
}

body.isSupporter #sidebar_nav li[data-section-id="support"] {
    display: none;
}

ul#sidebar_bottom_nav {
    position: absolute;
    bottom: 0;
}

ul#sidebar_bottom_nav li {
    margin-top: initial;
}

h1#extShortName {
    margin-bottom: 3px;
}

div#version_number {
    margin: 0 0 18px 23px;
    color: #757575;
    font-size: smaller;
}

section {
    padding: 0.25em 18px;
}

section:hover {
    background-color: #FAFAFA;
}

p {
    line-height: 1.5em;
}

a {
    color: #057ab9;
}

.bolder {
    font-weight: 600;
}

.block {
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.blank_box {
    border: 1px solid rgba(158, 158, 158, .5);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.settings-separater {
    border-bottom: 1px solid #CCC;
}

.settings-section-title {
    padding-top: 0.7em;
    padding-bottom: 0.5em;
}

div.cx-edit-help-content {
    visibility: hidden;
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
    border-left: 1px solid rgb(102, 102, 102);
    position: absolute;
    color: rgb(102, 102, 102);
    width: 30em;
    left: 870px;
}

.settings-sections {
    width: 700px;
}

div.cx-edit-help-content p {
    margin-top: 0;
}

.settings-sections button {
    min-width: 12em;
}

.settings-sections select {
    width: 20em;
}

.supporter_only {
    background: var(--red-heart-outlined) center left no-repeat;
    padding-left: 1.75rem;
}

label.supporter_only {
    background: inherit;
}

label.supporter_only::after {
    content: "\0020";
    background: var(--red-heart-outlined) center right no-repeat;
    padding-right: 1.5rem;
    background-size: 1rem;
    background-position-y: 1px;
    background-position-x: center;
    display: inline;
}

.errorSpan {
    color: #d9534f;
    font-weight: bolder;
    padding: 0 0.5em;
    display: none;
}

#snackbar {
    display: block;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 50%;
    min-width: 30%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #888888;
    border: 1px solid #666666;
    color: #EEEEEE;
    font-size: large;
    text-align: center;
    line-height: 1.6em;
}


li {
    list-style-type: square;
    line-height: 1.5em;
}

[disabled],
.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.hidden {
    display: none;
}

ul {
    padding-left: 18px;
}

header h1 :first-child {
    margin-right: 1em;
}

.highlight.title {
    font-weight: bold;
}


.button {
    display: inline-block;
    padding: 0.4em 0.6em;
    text-decoration: none;
    border-radius: 0.4em;
    font-size: 1.2em;
}

.button_primary {
    border: 1px solid #EFEFEF;
    background: orangered;
    color: #FAFAFA;
}

.button_primary:hover,
.button_primary:focus {
    background: #E64A19
}

.button_primary.button_alt {
    border: 1px solid #EFEFEF;
    background: #4CAF50;
    color: #EFEFEF;
}

.button_primary.button_alt:hover,
.button_primary.button_alt:focus {
    background: #388E3C;
}


label {
    display: block;
    line-height: 1.5em;
    color: #444;
}

label:hover {
    color: black;
}

img.inline_icons {
    height: 0.75rem;
}

.radioLabel {
    padding: 0.5em 0;
    line-height: 1.5em;
}

.radioLabel input[type="radio"] {
    vertical-align: -webkit-baseline-middle;
    /* vertical-align: bottom; */
    margin-right: 1em;
}

.highlightedNote {
    border: 1px solid;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin-bottom: 18px;
    margin-top: 12px;
    border-radius: 3px;
    padding: 0.2em 1em;
}

.highlightGreen {
    color: hsl(136, 55%, 15%);
    background-color: hsl(135, 50%, 88%);
    border-color: hsl(135, 50%, 75%);
}

.highlightYellow {
    color: #212121;
    background-color: #fff9e5;
    border: 1px solid #ff8f33;
}

.highlightBlue {
    color: #265873;
    background-color: #f2f9fc;
    border: 1px solid #d5f1f6;
}

.statusSuccess {
    color: #228822;
}

.statusFail {
    color: #882222;
}

.macAlt {
    border-bottom: 1px dotted black;
    cursor: help;
    font-weight: bold;
}

.dotted_underline {
    border-bottom: 1px dotted black;
}

code.highlightedCode {
    background-color: hsl(208, 100%, 95%);
    padding: 0 0.5em;
    border-radius: 2px;
    margin-left: 0.5em;
}

.text-light {
    font-weight: 300;
    color: #616161;
}

.animateDots:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1800ms infinite;
    /* ascii code for the ellipsis character */
    content: "\2026";
    width: 0px;
    padding-left: 0.15em;
}

@keyframes ellipsis {
    to {
        width: 1em;
    }
}
