html.attached {
    min-width: 640px;
    min-height: 500px;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-rows: minmax(1rem, auto) 1fr minmax(1rem, auto);
    color: var(--colour-primary);
    font-size: 1rem;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: max(100%, 100vh);
}

header {
    display: flex;
    background-color: var(--bgcolour-header-footer);
    z-index: 1;
    justify-content: center;
    user-select: none;
    box-shadow: var(--card-shadow-header);
}

footer {
    display: flex;
    padding: 0.5rem 0;
    background-color: var(--bgcolour-header-footer);
    justify-content: space-between;
    z-index: 1;
    user-select: none;
    box-shadow: var(--card-shadow-footer);
}

.header_item,
.footer_item {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--colour-secondary);
    padding: 2px 0 1px;
    border-bottom: 4px solid transparent;
    text-align: center;
    cursor: pointer;
}

.header_item {
    padding: 0.5rem 0 calc(0.5rem - 4px);
    transition: all 0.2s cubic-bezier(.4, 0, 1, 1);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.header_item.disabled {
    cursor: auto;
    filter: opacity(0.4);
}

.header_item.selected {
    border-bottom-color: var(--border-colour-header-selected);
    animation: border-expand .2s cubic-bezier(.4, 0, .4, 1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4, 0, 1, 1);
    cursor: auto;
    font-weight: var(--text-primary-font-weight);
    color: var(--colour-primary);
}


.header_item:not(.selected):not(.disabled):hover {
    border-bottom-color: var(--border-colour-header-hover);
    color: var(--colour-primary);
}


.footer_item {
    font-size: small;
    font-size: .8125rem;
    list-style: none;
}

.footer_item:nth-child(2) {
    margin-left: 0;
}

.footer_item:nth-child(3) {
    margin-left: auto;
}

.footer_item:hover {
    color: var(--colour-primary);
}

img#kbd_help_img {
    vertical-align: middle;
    height: 18px;
    filter: invert(0.6) !important;
}

a#keyboard_help {
    padding-top: 0;
    height: 18px;
}

.footer_item.imageLink img#kbd_help_img:hover,
.footer_item.imageLink img#kbd_help_img:focus {
    filter: invert(var(--invert-keyboard-icon-hover)) !important;
}

main {
    background-color: var(--bgcolour-main);
    padding: 0.5rem;
    overflow-y: auto;
}

.tab {
    display: grid;
    grid-auto-columns: minmax(1rem, auto);
    box-shadow: var(--card-shadow);
    margin: 8px;
    row-gap: 1px;
    background-color: var(--separater-colour);
    transition: all 0.2s cubic-bezier(.4, 0, 1, 1);
}

.tabs_action {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 3rem 1rem;
    padding: 0.75rem 0 0.75rem 3rem;
    background-color: var(--bgcolour-cards);
    outline: none;
    transition: all 0.2s cubic-bezier(.4, 0, 1, 1);
}

.tabs_action.is_button:not([disabled]).selected,
.tabs_action.is_button:not([disabled]).highlighted,
.tabs_action.is_button:not([disabled]):hover {
    cursor: pointer;
    background-color: var(--tab-background-highlighted-button);
}

.tabs_action.is_button[disabled] {
    color: var(--colour-very-muted);
    cursor: default;
}


.tabs_action:not([disabled]).action_button,
.tabs_action:not([disabled]).action_title,
.tabs_action:not([disabled]) .action_button,
.tabs_action:not([disabled]) .action_title {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 0.9rem;
    font-weight: var(--tab-action-font-weight);
    color: var(--colour-tertiary);
}

.tabs_action:not([disabled]).is_button.selected,
.tabs_action:not([disabled]).is_button.selected *,
.tabs_action:not([disabled]).is_button.highlighted,
.tabs_action:not([disabled]).is_button.highlighted *,
.tabs_action:not([disabled]).is_button:hover,
.tabs_action:not([disabled]).is_button:hover * {
    color: var(--colour-primary);
}

.tabs_action.has_summary .action_title {
    padding-bottom: 0.5rem;
}

.action_summary {
    font-size: 0.875rem;
    padding-bottom: 0.25rem;
    color: var(--colour-muted);
}

.tabs_action.has_summary {
    grid-template-columns: 1fr;
}


.tab_item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3rem 1fr 3rem;
    grid-row-gap: 2px;
    padding: 1rem 0;
    background-color: var(--bgcolour-cards);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(.4, 0, 1, 1);
}

div.tab_item.highlighted {
    background-color: var(--tab-background-highlighted);
}

#support_footer {
    background-size: 18px;
    background-repeat: no-repeat;
    background-image: var(--red-heart);
    background-position: left center;
    padding-left: 22px;
}

#version_span.supporter {
    background-size: 18px;
    background-repeat: no-repeat;
    background-image: var(--red-heart);
    background-position: right center;
    padding-right: 22px;
}


/**************************/
/**                      **/
/**                      **/
/**    Modal Common      **/
/**                      **/
/**                      **/
/**************************/


.modalOuter {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    width: 100%;
    height: 100%;
    background-color: var(--scrim-modals);
}

.modalInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-main) none repeat scroll 0;
    opacity: 0.95;
    z-index: 3;
    color: var(--color-main);
    border-radius: 10px;
    border: 1px solid var(--divider-main);
    overflow-x: hidden;
    overflow-y: auto;
}


/**************************/
/**                      **/
/**                      **/
/**     Help Modal       **/
/**                      **/
/**                      **/
/**************************/


#helpModal {
    z-index: 600;
}

#helpDiv {
    width: 92%;
}

#helpDivContents {
    padding: 1em;
}

.helpDivTitle {
    display: inline-block;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    border-bottom: 1px solid var(--divider-main);
    padding-bottom: 0.8ex;
}

.helpDivTitle:not(:first-of-type) {
    padding-top: 0.4rem;
}

.helpSectionDiv {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    font-size: 90%;
    line-height: 1.4rem;
}

.shortcutKey {
    text-align: right;
    white-space: nowrap;
    padding-right: 0.3em;
    width: 25%;
    vertical-align: top;
    padding-top: 0.15em;
}

.shortcutKeySymbol {
    font-family: monospace;
    color: var(--color-shortcut-symbol);
    font-weight: 500;
    vertical-align: bottom;
}

.shortcutKeySeparator {
    font-weight: 100;
}

.shortcutDetail {
    text-align: left;
    padding-left: 0.4em;
    font-weight: 300;
    vertical-align: top;
    padding-top: 0.15em;
}

.shortcutDetail span.supporters_only {
    background: 0 2px/1rem no-repeat var(--red-heart-outlined);
    padding-left: 1rem;
}

.cf:first-of-type td {
    padding-top: 0.8em;
}

.keyboardAlphabet {
    text-decoration: underline;
}


.helpDivColon {
    vertical-align: text-top;
}

#morekeyboardshortcuts {
    text-align: center;
    display: block;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--divider-main);
}

#morekeyboardshortcuts a {
    color: var(--color-shortcuts-more);
}

/**************************/
/**                      **/
/**                      **/
/**        Toast         **/
/**                      **/
/**                      **/
/**************************/

#toastOuter {
    display: none;
    width: 80%;
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--background-toast);
    color: var(--colour-primary-inverse);
    font-weight: var(--text-primary-font-weight);
    opacity: 0.95;
    z-index: 9;
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-filter: contrast(120%);
    filter: contrast(120%);
}

#toastContent {
    display: flex;
    padding: 0 0 0 1em;
    width: 100%;
    box-sizing: border-box;
}

#toastText {
    flex: 1 1 auto;
    font-weight: 100;
    text-align: left;
}

#toastAction {
    flex: 0 1 auto;
    text-align: right;
    padding: 0 1em;
    height: 100%;
    border-radius: 0.33em;
    color: var(--color-toast-action);
}

#toastAction:hover {
    text-shadow: 0px 0px 2px var(--shadow-toast-action);
}

/* Experimental */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 12px;
        background: #000;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-highlight);
        border-radius: 1ex;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }

    ::-webkit-scrollbar-corner {
        background: #000;
    }
}
