ul#tabs {
	list-style-type: none;
	margin: 0;
	padding: 0px 5px;
	padding-left: 0;
}
ul#tabs li {
	display: inline;
}
ul#tabs li a {
	color: #333;
	background-color: #c4c0b9;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	padding: 5px 10px;
	display: inline-block;
}
ul#tabs li a:hover {
	background-color: #dbd9d5;
}
ul#tabs li a.selected {
	color: #333;
	background-color: #f1f0ee;
}
div.tabContent {
	border-radius: 5px;
	border-top-left-radius: 0px;
	background-color: #f1f0ee;
	padding: 10px;
}
div.tabContent.hide {
	display: none;
}
.tabsBox {
	box-shadow: 0 5px 10px #474747;
	border-radius: 5px;
	border: 1px solid #ada89e;
	background-color: #ada89e;
	padding: 5px;
}
