a.clutterFree_existingDuplicate:not(.clutterFree_noIcon):after {
    content: url('chrome-extension://__MSG_@@extension_id__/img/cf-light-16.svg');
    margin-left: 0.2em;
    position: relative;
    top: -0.15em;
    height: 0.3em;
    width: 0.3em;
    opacity: 0.5;
    background-color: transparent;
    transform: none;
}

a.clutterFree_existingDuplicate.cf_div_theme_dark:not(.clutterFree_noIcon):after {
    content: url('chrome-extension://__MSG_@@extension_id__/img/cf-dark-16.svg');
}
