:root {
    --colour-primary: #212121;
    --colour-primary-inverse: #dedede;
    --colour-highlighted: #101010;
    --colour-secondary: #424242;
    --colour-tertiary: #616161;
    --colour-muted: rgba(0, 0, 0, .54);
    --colour-very-muted: rgba(0, 0, 0, .26);
    --colour-tab-url-highlighted: var(--colour-very-muted);
    
    
    /* --bgcolour-header: #ddf; */
    /* --bgcolour-header: #fdd; */
    --bgcolour-header-footer: #dde;
    --bgcolour-main: #f1f1f1;
    --bgcolour-cards: white;
    
    
    --separater-colour: #EEEEEE;
    
    
    --card-shadow-1: rgba(0, 0, 0, .14);
    --card-shadow-2: rgba(0, 0, 0, .2);
    --card-shadow-3: rgba(0, 0, 0, .12);
    --card-shadow: 0 2px 2px 0 var(--card-shadow-1),
                    0 3px 1px -2px var(--card-shadow-2),
                    0 1px 5px 0 var(--card-shadow-3);
    --card-shadow-header: 0 2px 2px 0 var(--card-shadow-1),
                    0 3px 1px -2px var(--card-shadow-2),
                    0 1px 5px 0 var(--card-shadow-3);
    --card-shadow-footer: 0 0 2px 0 var(--card-shadow-1),
                    0 0 1px -2px var(--card-shadow-2),
                    0 0 5px 0 var(--card-shadow-3);
    
    --border-colour-header-selected: #888;
    --border-colour-header-hover: #aaa;
    
    --color-highlighted-inverse: #333333;
    
    
    /* Toast */
    --color-toast-action: var(--color-highlighted-inverse);
    --shadow-toast-action: #33333388;
    --background-toast: #424242;
    
    /* Used in TAB_SEARCH and DUPLICATE */
    --tab-background-highlighted: #dfe;
    --tab-background-suspended: #EEEEEE;
    --tab-background-duplicate: rgba(155, 155, 255, 0.1);
    --text-primary-font-weight: 400;
    --tab-action-icon-hover-filter: invert(0) drop-shadow(0px 1px 1px #888888);
    --tab-pinned-highlighed: invert(0);
    --search-border-bottom: rgba(0, 0, 0, .12);
    
    
    /* Used for button cards in POPUP_ACTIONS and DUPLICATE */
    /* --tab-background-highlighted-button: #f1cabe; */
    --tab-background-highlighted-button: #CFD8DC;
    --tab-action-font-weight: 500;
    
    
    /* ICONS */
    --duplicate-tab-icon: url("../img/ic_layers.svg");
    --close-tab-icon: url("../img/ic_close.svg");
    --red-heart: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmMjY3NGU7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT48L3RpdGxlPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTQ2MS41NiwzMzMuMzJBNDIuNjksNDIuNjksMCwwLDAsNDM0Ljc4LDMyNGMtMjIuNzUsMC0zMywxNy0zNC4yMSwxOC42MS05LjYtMTIuNDYtMjUuNTctMjAuODEtNDEuNDYtMTgtMTMuMTUsMi4zMy0yMy40Niw5LjM5LTMwLjcxLDIxLTEwLjE5LDE2LjM0LTExLDMyLjA5LTIuNDYsNDYuODRBMTIyLjYxLDEyMi42MSwwLDAsMCwzNDQuMDksNDE2YzE0LDE0LjUyLDMwLjUyLDI4LjMxLDUyLjExLDQzLjM5LDEuMzgsMSw0LjM2LDIuODYsNC4zNiwyLjg2czQtMi42MSw0Ljc2LTMuMTljMTkuMTgtMTMuMzcsMzQuOS0yNi4yNSw0OC4wOC0zOS4zNyw3LjQ2LTcuNDIsMTUuOTMtMTYuNTUsMjIuMTItMjcuOTQsMi42NS00Ljg4LDUuNjctMTEuNDIsNS40OS0xOC45MkM0ODAuNjEsMzU2LjY5LDQ3NC4wNiwzNDMuNDEsNDYxLjU2LDMzMy4zMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0zMjAuMSAtMzI0LjAzKSIvPjwvc3ZnPg==);
    --red-heart-outlined: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAuOSAxMzguMiI+PGcgdHJhbnNmb3JtPSJzY2FsZSgwLjksIDAuOSkgdHJhbnNsYXRlKDksIDYpIj48cGF0aCBmaWxsPSJ0cmFuc3BhcmVudCIgc3Ryb2tlPSIjZjI2NzRlIiBzdHJva2Utd2lkdGg9IjEyIiBkPSJNNDYxLjU2LDMzMy4zMkE0Mi42OSw0Mi42OSwwLDAsMCw0MzQuNzgsMzI0Yy0yMi43NSwwLTMzLDE3LTM0LjIxLDE4LjYxLTkuNi0xMi40Ni0yNS41Ny0yMC44MS00MS40Ni0xOC0xMy4xNSwyLjMzLTIzLjQ2LDkuMzktMzAuNzEsMjEtMTAuMTksMTYuMzQtMTEsMzIuMDktMi40Niw0Ni44NEExMjIuNjEsMTIyLjYxLDAsMCwwLDM0NC4wOSw0MTZjMTQsMTQuNTIsMzAuNTIsMjguMzEsNTIuMTEsNDMuMzksMS4zOCwxLDQuMzYsMi44Niw0LjM2LDIuODZzNC0yLjYxLDQuNzYtMy4xOWMxOS4xOC0xMy4zNywzNC45LTI2LjI1LDQ4LjA4LTM5LjM3LDcuNDYtNy40MiwxNS45My0xNi41NSwyMi4xMi0yNy45NCwyLjY1LTQuODgsNS42Ny0xMS40Miw1LjQ5LTE4LjkyQzQ4MC42MSwzNTYuNjksNDc0LjA2LDM0My40MSw0NjEuNTYsMzMzLjMyWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMyMC4xIC0zMjQuMDMpIi8+PC9nPjwvc3ZnPg==);
    
    
    /* Modal */
    --bg-main: #f8f8f8;
    --color-main: #333333;
    --color-shortcut-symbol: #C62828; /* #827717;*/
    --color-shortcuts-more: #E57373;
    --divider-main: #f1f1f1;
    --scrim-modals: #00000080;
    
    
    /* POPUP_ACTIONS */
    /* --colour-supporter: #363; */
    --colour-warning: #f00;
    --acs-card-border: #BDBDBD;
    --acs-card-background: #d9edf7;
    --support-card-background: #FFE0B2;
    --support-card-background-highlighted: #FFB74D;
    --thanks-card-text-color: darkgreen;
    --thanks-card-background: #11aa110d;
    --thanks-card-font-weight: 400;
}



.apply_dark {
    --colour-primary: #E0E0E0;
    --colour-primary-inverse: #212121;
    --colour-highlighted: #fafafa;
    --colour-secondary: #BDBDBD;
    --colour-tertiary: #a8a8a8;
    --colour-muted: #757575;
    --colour-very-muted: #616161;
    --colour-tab-url-highlighted: #a9a9a9;
    
    --scrollbar-highlight: #455a64;
    
    /* --bgcolour-header: #ddf; */
    /* --bgcolour-header: #fdd; */
    --bgcolour-header-footer: #252a2f;
    --bgcolour-main: #323232;
    --bgcolour-cards: #212121;
    
    
    --separater-colour: #282828;
    
    
    --card-shadow-1: rgba(128, 128, 128, .14);
    --card-shadow-2: rgba(128, 128, 128, .2);
    --card-shadow-3: rgba(128, 128, 128, .12);
    --card-shadow: 0 1px 2px 0 var(--card-shadow-1),
                    0 1px 1px -2px var(--card-shadow-2),
                    0 1px 5px 0 var(--card-shadow-3);
    --card-shadow-header: 0 1px 2px 0 var(--card-shadow-1),
                    0 1px 1px -2px var(--card-shadow-2),
                    0 1px 5px 0 var(--card-shadow-3);
    --card-shadow-footer: 0 0 2px 0 var(--card-shadow-1),
                    0 0 1px -2px var(--card-shadow-2),
                    0 0 5px 0 var(--card-shadow-3);
                    
    /* --border-colour-header-selected: #888; */
    --border-colour-header-hover: #555;
    /* --color-highlighted-inverse: #333333; */
    
    
    /* Toast */
    --shadow-toast-action: #cccccc88;
    --background-toast: #cccccc;
    /* --color-toast: #efefef; */
    /* --bgColour-toast: #666666; */
    
    /* Used in TAB_SEARCH and DUPLICATE */
    /* --tab-background-highlighted: #33ff9938; */
    --tab-background-highlighted: #37474F;
    --tab-background-suspended: #303030;
    --tab-background-duplicate: rgba(100, 100, 0, 0.1);
    --text-primary-font-weight: 300;
    --tab-action-icon-hover-filter: invert(0.9) drop-shadow(0px 1px 1px #888888);
    --tab-pinned-highlighed: invert(0.9);
    --search-border-bottom: rgba(255, 255, 255, .12);
    
    /* Used for button cards in POPUP_ACTIONS and DUPLICATE */
    /* --tab-background-highlighted-button: hsl(14, 66%, 35%); */
    --tab-background-highlighted-button: #37474F;
    
    
    /* MODAL */
    --bg-main: #323232;
    --color-main: #cccccc;
    --color-shortcut-symbol: #EF5350;
    --color-shortcuts-more: #E57373;
    --scrim-modals: #ffffff88;
    --divider-main: #383838;
    --color-UNUSED: #FDD835;
    
    
    /* POPUP_ACTIONS */
    /* --colour-supporter: #363; */
    --colour-warning: #f33;
    --acs-card-border: #111;
    --acs-card-background: hsla(200, 65%, 60%, 0.2);
    --acs-card-background-highlighted: hsla(200, 65%, 60%, 0.4);
    /* --support-card-background: hsla(36, 100%, 60%, 0.2); */
    --support-card-background: hsl(14, 66%, 35%, 0.7);
    --support-card-background-highlighted: hsla(36, 100%, 60%, 0.5);
    --thanks-card-text-color: hsla(120, 70%, 47%, 1);
    --thanks-card-background: rgba(17, 170, 17, 0.1);
    --thanks-card-font-weight: 300;
    
    
}
