#allowListSelect {
    width: 30em;
}

#allowListInput {
    width: 18em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


#extList li {
    list-style-type: square;
    line-height: 1.5em;
}

.countTotals {
    font-weight: bolder;
    color: rgba(10, 50, 10, 0.8);
}

#chartDiv {
    height: 200px;
}


#domainStats {
    width: 100%;
}


#domainStats td:first-of-type {
    text-overflow: ellipsis;
    overflow: hidden;
}

#domainStats td:not(:first-of-type) {
    text-align: center;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 2px;
    opacity: 0.8;
    border: 1px solid rgb(255, 221, 221);
    background-color: rgb(255, 238, 238);
}


.statsListItems {
    list-style-type: none;
}


#statsLink {
    text-decoration: none;
    padding-right: 30px;
    background-image: url(../img/stats_button_icon.svg);
    background-position: 34px center;
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
    transition-timing-function: ease;
}
