div#duplicate_tabs_count {
    font-size: 88%;
    /* font-size: 14px; */
    letter-spacing: 0;
    /* line-height: 18px; */
    line-height: 1.13rem;
    font-weight: var(--text-primary-font-weight);
    color: var(--colour-muted);
}

div#refresh_duplicates {
    background: url("../img/ic_refresh.svg") center center no-repeat;
    background-size: 1rem;
    filter: invert(0.5);
}

div#refresh_duplicates:hover {
    filter: var(--tab-action-icon-hover-filter);
}

.tab_item_pinned {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    filter: invert(0.5);
}

.tab_item.highlighted .tab_item_pinned {
    filter: var(--tab-pinned-highlighed);
}

.tab_item_pinned.is_pinned {
    background: url("../img/pin.svg") center top 0.25rem no-repeat;
    background-size: 1rem;
}

.tab_item.is_original .tab_item_pinned {
    background: var(--duplicate-tab-icon) center top 0.25rem no-repeat;
    background-size: 1rem;
}

.tab_item.is_original .tab_item_pinned.is_pinned {
    background: var(--duplicate-tab-icon) center top 0.25rem no-repeat,
    url("../img/pin.svg") center bottom 0.25rem no-repeat;
    background-size: 1rem;
}

.tab_item.indicate {
    background-color: var(--tab-background-duplicate);
}

.tab_item_title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.15rem 0 0.25rem;
    font-size: 16px;
    font-weight: var(--text-primary-font-weight);
    letter-spacing: .04rem;
    color: var(--colour-primary);
    cursor: pointer;
}

.tab_item_url {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.15rem 0 0.15rem;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    color: var(--colour-muted);
    cursor: pointer;
}

.tab_item_last_activated {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: .625rem;
    font-weight: 100;
    padding-top: 0.15rem;
    color: var(--colour-muted);
    display: none;
}

.tab_item_action_delete {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    filter: invert(0.5);
    background: var(--close-tab-icon) center center no-repeat;
    background-size: 1.5rem;
    background-size: 1rem;
    cursor: pointer;
}


.tab_item.tab_item.highlighted .tab_item_action_delete:hover {
    filter: var(--tab-action-icon-hover-filter);
}
