#about section:hover {
    background-color: transparent;
}

#allowListSelect,
#blockListSelect,
#domainBlocklistSelect {
    width: 30em;
}

#allowListInput,
#domainBlocklistInput {
    width: 18em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#keyboardCommandItemsDiv li {
    line-height: 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 0.25em;
    padding: 0.5em 0;
}

span.command_name {
  grid-column: 1/3;
  font-weight: 600;
}

span.command_label_keys, span.command_label_action {
  padding-left: 1rem;
}

select.command_action {
  margin-left: 1rem;
}

code.command_keys {
  margin: 0;
  font-weight: bold;
}

div.sub_notes {
    display: grid;
    grid-template-columns: 1rem 1fr;
    grid-row-gap: 0.5em;
    margin-top: 1rem;
}

.sub_notes_super {
    font-weight: 600;
}

#statsLink {
    text-decoration: none;
    padding-right: 30px;
    background-image: url(../img/stats_button_icon.svg);
    background-position: 34px center;
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s;
    transition-timing-function: ease;
}

.contextMenuItemLabels {
    padding: 0.5em 0;
}


#contextMenuItemsDiv {
    display: flex;
    flex-direction: column;
}

#linkMarkersIcon {
    margin-left: 0.2em;
    position: relative;
    top: 0.25em;
}


#acsBanner {
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #3a87ad;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 1em;
}

#acsBanner a {
    color: #08c;
}


#selectNotifications {
    display: grid;
    grid-template-columns: 100fr repeat(3, minmax(7em, 1fr));
    /* width: 32em; */
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

.notification_table_header {
    text-align: center;
    font-weight: bolder;
    padding: 0 0 0.5em;
}

#selectNotifications>span:not(.notification_table_header) {
    padding: 0.5em 1em 0.5em 0;
    line-height: 1.5em;
    margin: auto 0;
}

#selectNotifications>input[type="radio"],
#selectNotifications>input[type="checkbox"] {
    bottom: auto;
    margin: auto;
}

#in_page_notification_settings_div {
    display: flex;
    flex-direction: column;
}

#in_page_notification_settings_div>div {
    display: flex;
    flex-direction: column;
}


#importStatus {
    display: block;
    visibility: hidden;
}


#importStatus.showStatus {
    visibility: visible;
}

.options_support_colour_text {
    color: var(--text-supporter-link);
}

a.demo_href {
    color: inherit;
    text-decoration: none;
    font-style: italic;
}

div#aum_list {
    /* width: 40em; */
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 0.5rem;
    margin: 0.25rem 0 1.5rem;
}

div.aum_grid_container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(2, 6rem) 3rem;
    justify-items: center;
    align-items: center;
}

div#aum_header_row {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

div#aum_items_container {
    max-height: 10rem;
    overflow-y: scroll;
}

div.row_wrapper {
    display: contents;
}

div.row_wrapper:not(.header_row):hover>* {
    background-color: #d5ecf6;
}

div.row_wrapper>span {
    padding: 0.25rem;
    height: 2em;
    line-height: 2em;
}

div#aum_list span.aum_empty_row {
    justify-self: left;
    width: -webkit-fill-available;
    vertical-align: middle;
    grid-column: 1/5;
    font-family: monospace;
}

div#aum_list span.website_name_span {
    justify-self: left;
    width: -webkit-fill-available;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

span.faux_checkbox {
    background-image: url(/img/ic_checkbox_empty.svg);
    width: -webkit-fill-available;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.6);
    cursor: pointer;
}

span.faux_checkbox[data-checked='true'] {
    background-image: url(/img/ic_checkbox_checked.svg);
}

span.aum_remove_site:hover,
span.faux_checkbox:hover {
    filter: opacity(1);
}

span.aum_remove_site {
    background-image: url(/img/ic_close.svg);
    width: -webkit-fill-available;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    filter: opacity(0.5);
    cursor: pointer;
}

form#aum_add_form {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    row-gap: 0.75rem;
    align-items: baseline;
    justify-items: flex-start;
    width: fit-content;
}

form#aum_add_form label {
    padding-right: 1rem;;
}

form#aum_add_form input[type='text'] {
    width: 18em;
}

form#aum_add_form input[type='checkbox'] {
    margin-top: auto;
}

form#aum_add_form button[type='submit'] {
    grid-column: 1/3;
    grid-row: 4/5;
}


form#aum_add_form span#add_to_aum_error {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
}

div#tab_count_limit_container {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: left;
    align-items: center;
    width: fit-content;
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;
}

.offset_1 {
    margin-left: 1rem;
}

.save_success {
    color: green;
    display: none;
}

#tab_count_limit_status_smiley {
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1rem;
    padding-left: 1.2rem;
}

#tab_count_limit_status_smiley.smiley_success {
    background-image: url(../img/smiley_success.svg);
}

#tab_count_limit_status_smiley.smiley_warn {
    background-image: url(../img/smiley_warn.svg);
}

#tab_count_limit_status_smiley.smiley_error {
    background-image: url(../img/smiley_error.svg);
}

/* #tab_count_limit_status {
    grid-column: 1/3;
} */

#tab_count_limit_style_label {
  grid-row: 6/8;
  align-self: baseline;
}

p.grid_row_blocker {
    grid-column: 1/3;
}

/* label.radioLabel[for='tab_limit_style_notify'] {
    grid-row: 5/6;
}

label.radioLabel[for='tab_limit_style_block'] {
    grid-row: 6/7;
} */

#tab_count_limit_container label.radioLabel {
    padding: 0;
}


#updateNotesLink.haveNotes::after {
    content: '';
    padding-right: 1em;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiMwMzY2ZDYiIC8+PC9zdmc+);
    background-repeat: no-repeat;
    background-size: 0.6em;
    background-position-x: right;
}
