
#closeDuplicatesLink.selected #closeDuplicatesWarning,
#closeDuplicatesLink:hover #closeDuplicatesWarning {
    font-family: monospace;
    color: var(--colour-warning);
    font-size: 1.1rem;
}

#duplicate_count {
    padding-left: 1em;
    font-size: smaller;
    font-weight: 300;
    margin: auto;
    vertical-align: bottom;
    text-transform: none;
}


.action_keyboard_shortcut {
    margin:auto;
    filter: opacity(0.9);
}


div#switchThemeLink {
    display: block;
}


/**************************/
/**                      **/
/**                      **/
/**    ACS & Support     **/
/**                      **/
/**                      **/
/**************************/


#acs_card {
    background-color: var(--acs-card-border);
}

#acs_card .tabs_action:not(.highlighted) {
    background-color: var(--acs-card-background);
}

#acs_card .tabs_action:not(.is_button) {
    color: var(--colour-muted);
}

#support_action {
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: var(--red-heart), var(--red-heart);
    background-position: left 1.5rem center, left 15rem center;
}

#support_action:not(.highlighted) {
    background-color: var(--support-card-background);
}

#support_action.xmas_icons {
    background-image: url(../img/license/mistletoe.png), url(../img/license/mistletoe_horz_invert.png);
    background-position: left 1.5rem top 0.1rem, left 15rem top 0.1rem;
}

#support_action.donate_box {
    background-image: url(../img/license/donate_box.svg);
    background-position: left 1rem center;
}



#thanks_card,
#thanks_card * {
    color: var(--thanks-card-text-color);
    font-weight: var(--thanks-card-font-weight);
}

#thanks_card .tabs_action {
    background-color: var(--thanks-card-background);
}
