ITEM/\pyPadClear.py
ITEM/\pyPadExecute.py
ITEM/\pyPadExecuteFix.py
ITEM/\pyPadRestart.py
ITEM/\codeSnippetsLog.py
ITEM/\pyPadCalltip.py
SETTING/ADDEXTRALINETOOUTPUT/0
SETTING/COLORIZEOUTPUT/-1
SETTING/OPENCONSOLEONERROR/0
SETTING/PREFERINSTALLEDPYTHON/0
SETTING/STARTUP/LAZY
